.textinfo {
    font-family: 'Noto Sans TC', sans-serif;
}

.navbar {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Noto Sans TC', sans-serif;
}

.sfb {
    font-size: 50px;
    color: #956cdf;
}

.sfb:hover {
    color: #7d99fe;
}

.img-fluid2 {
    max-width: 85%;
    margin: 30px;
}

@media (max-width: 767px) {
    .img-fluid2 {
        max-width: 85%;
        margin: 0px;
    }
}

.content {
    font-family: 'Noto Sans TC', sans-serif;
}

a:hover {
    text-decoration: none;
}

.contact-details {
    font-family: 'Noto Sans TC', sans-serif;
}

.box1 {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .box1 {
        margin-top: 45px;
    }
}

.carousel {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    margin-bottom: 10%;
}

.carousel-item {
    font-family: 'Noto Sans TC', sans-serif;
}

.title {
    font-family: 'Noto Sans TC', sans-serif;
}

.mt-10 {
    font-family: 'Noto Sans TC', sans-serif;
}